
{erl_opts, [
	warn_unused_vars,
  %%warnings_as_errors,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
  ]}.
  
  {deps, [
    {cowboy,    "2.12.0"},
	  {yamerl,    "0.10.0"},
    {thoas,     "1.2.1"},
	  {uuid,      "2.0.7", {pkg, uuid_erl}},
	  {hackney,   "1.24.1"},
    {jose,      "1.11.10"},
    {cache,     "2.3.3"}
  ]}.
  
  {relx, [{release, {garm, "0.1.0"},
		[
			kernel,
			stdlib,
			sasl,
			inets,
			crypto,
			ssl,
			public_key,
			tools,
			runtime_tools,
			os_mon,
			%debugger,
			%% --------------
			cowboy,
      yamerl,
			cowlib,
			thoas,
			jose,
			hackney,
      cache,
			garm
		]
	},
  {extended_start_script, true}
  ]}.
  
  {profiles, [
    {dev, [
      {relx, [
        {mode, dev},
        {sys_config, "./config/dev/sys.config"},
        {vm_args, "./config/dev/vm.args"}
      ]}
    ]},

    {test, [
      {deps,[
        {meck, "1.0.0"}
      ]},
      {erl_opts, [debug_info, export_all]}
    ]},

    {prod, [
      {relx, [
        {mode, prod},
        {sys_config_src, "./config/prod/sys.config.src"},
        {vm_args_src, "./config/prod/vm.args.src"}
      ]}
    ]}
  ]}.
  
  %% =============================================================================
  %% PLUGINS
  %% =============================================================================
  
  {plugins, [
    rebar3_proper,
    rebar3_auto
    ]
  }.
  
  {shell, [
    {config, "config/dev/sys.config"},
    {apps, [garm]}
  ]}.