{erl_opts, [
	warn_unused_vars,
  warn_export_all,
  warn_shadow_vars,
  warn_unused_import,
  warn_unused_function,
  warn_bif_clash,
  warn_unused_record,
  warn_deprecated_function,
  warn_obsolete_guard,
  strict_validation,
  warn_export_vars,
  warn_exported_vars,
  warn_missing_spec,
  warn_untyped_record,
  debug_info
]}.
  
{deps, [
  {cowboy,    "2.16.1"},
  {cowlib,    "2.17.1"},
  {ranch,     "2.2.0"},
  {yamerl,    "0.10.0"},
  {thoas,     "1.2.1"},
  {uuid,      "2.0.7", {pkg, uuid_erl}},
  {hackney,   "4.3.0"},
  {jose,      "1.11.12"},
  {cache,     "2.3.3"},
  {jesse,     "1.8.2"}
]}.

{overrides, [
  {add, jose, [{erl_opts, [nowarn_deprecated_catch]}]},
  {add, cache, [{erl_opts, [nowarn_deprecated_catch]}]},
  {add, yamerl, [{erl_opts, [nowarn_deprecated_catch]}]}
]}.

{relx, [{release, {garm, "0.1.0"},
  [
    kernel,
    stdlib,
    sasl,
    inets,
    crypto,
    ssl,
    public_key,
    tools,
    runtime_tools,
    os_mon,
    %debugger,
    %% --------------
    cowboy,
    yamerl,
    cowlib,
    ranch,
    thoas,
    jose,
    hackney,
    cache,
    jesse,
    garm
  ]},
  {extended_start_script, true}
]}.

{profiles, [
  {dev, [
    {relx, [
      {mode, dev},
      {sys_config, "./config/dev/sys.config"}
    ]}
  ]},

  {test, [
    {deps,[
      {meck, "1.2.0"}
    ]},
    {erl_opts, [debug_info, export_all]}
  ]},

  {prod, [
    {relx, [
      {mode, prod},
      {include_src, false},
      {include_erts, true},
      {sys_config_src, "./config/prod/sys.config.src"},
      {vm_args_src, "./config/prod/vm.args.src"}
    ]}
  ]}
]}.
